---
title: L'École de données Suisse
language: Français
lang: fr
ref: index
layout: default
---

<header>
	<h1>{{ site.fr.tagline }}</h1>
	<h2>{{ site.fr.description }}</h2>
</header>

<section class="tiles">
	{% for post in site.posts %}
	<article class="{{ post.style }}">
		<span class="image">
			<img src="{{ site.baseurl }}/{{ post.image }}" alt="" />
		</span>
		<a href="{{ post.url | prepend: site.baseurl }}">
			<p>{{ post.date | date: "%b %-d, %Y" }}</p>
			<h2>{{ post.title }}</h2>
			<div class="content">
				<p>{{ post.tagline }}</p>
			</div>
		</a>
	</article>
	{% endfor %}
</section>

<section>
	<div class="row">
		<div class="6u 12u$(medium)">
			<div class="service-item">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-question fa-stack-1x text-primary"></i>
				</span>
				{% capture mi1 %}{% include index-offer.fr.include %}{% endcapture %}
				{{ mi1 | markdownify }}
			</div>
		</div>

		<div class="6u 12u$(medium)">
			<div class="service-item">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-life-ring  fa-stack-1x text-primary"></i>
				</span>
				{% capture mi2 %}{% include index-help.fr.include %}{% endcapture %}
				{{ mi2 | markdownify }}
			</div>
		</div>
	</div>
</section>

<section class="contact">
	<h2>{{ site.fr.signup.title }}</h2>
	<form method="post" action="//synopses.us4.list-manage.com/subscribe/post?u=7d905c213d7f4aad6debd9f42&amp;id=3875ddf265">
		<div class="row uniform">
			<div class="6u 12u$(small)">
				{{ site.fr.signup.header }}
				<input type="radio" checked id="signup-human-me" name="signup-human">
				<label for="signup-human-me">{{ site.fr.signup.myself }}</label>
				<div class="select-wrapper">
					<select name="SKILL" id="signup-category">
						<option value="">{{ site.fr.signup.skills }}</option>
						<option value="Beginner">{{ site.fr.signup.beginner }}</option>
						<option value="Intermediate">{{ site.fr.signup.intermediate }}</option>
						<option value="Advanced">{{ site.fr.signup.advanced }}</option>
						<option value="Expert">{{ site.fr.signup.expert }}</option>
					</select>
				</div>
			</div>
			<div class="6u$ 12u$(small)">
				<input type="radio" id="signup-human-org" name="signup-human" onclick="$('#signup-org').show()">
				<label for="signup-human-org">{{ site.fr.signup.myorg }}</label>
				<input style="display:none" type="text" name="ORG" id="signup-org" value="" placeholder="{{ site.fr.signup.org }}" />
			</div>
			<div class="6u 12u$(xsmall)">
				<input type="text" name="NAME" id="signup-name" value="" placeholder="{{ site.fr.signup.name }}" />
			</div>
			<div class="6u$ 12u$(xsmall)">
				<input type="email" name="EMAIL" id="signup-email" value="" placeholder="{{ site.fr.signup.email }}" />
			</div>
			<div class="12u$">
				<textarea name="COMMENT" id="signup-message" placeholder="{{ site.fr.signup.comment }}" rows="6"></textarea>
			</div>
			<div class="12u$">
				<ul class="actions">
					<li><input type="submit" value="{{ site.fr.signup.send }}" class="special" /></li>
				</ul>
			</div>
		</div>
	</form>
</section>
