<!-- https://codepen.io/loleg/pen/dyKReEr -->
<div id='calendar' style="max-height: 300px; overflow-x: hidden; overflow-y: auto; display: block;"></div>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.0.0/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.0.0/index.global.min.js'></script>
<script language="JavaScript">
document.addEventListener('DOMContentLoaded', function() {
	var calendarEl = document.getElementById('calendar');

	var calendar = new FullCalendar.Calendar(calendarEl, {
		timeZone: 'Europe/Zurich',
		initialView: 'list',
		headerToolbar: false,
		duration: { days: 366 },
		height: 'auto',
		googleCalendarApiKey: 'AIzaSyCSGtvZAxx9InsYM_1TwURYFIk0z5bnRBI',
		events: {
		  googleCalendarId: '0ohqtm5h4b658tk6dke5hd57sc@group.calendar.google.com'
		}
	});

  calendar.render();
});
</script>