<footer id="footer">
  <div class="inner">
    <section class="partners">
      <a href="http://opendata.ch/" target="_blank" rel="me" style="border:none">
        <img src="https://make.opendata.ch/files/2013/01/Opendata.ch_.png" alt="Opendata.ch" title="Daten öffentlich, frei verfügbar und nutzbar zu machen für mehr Transparenz, Innovation und Effizienz — das ist Open Data.">
      </a>
      <a href="http://okfn.org" target="_blank" rel="me" style="border:none;margin-left:30px">
        <img src="https://opendata.ch/files/2014/07/open-knowledge-switzerland-logo-180px.png" width="120px">
      </a>
    </section>
    <section>
      <!--<h2>Follow</h2>-->
      <ul class="icons">
        {% if site.forum %}
        <li><a href="{{ site.forum }}" class="icon style2 fa-bullhorn"><span class="label">Forum</span></a></li>
        {% endif %}
        {% if site.twitter %}
          <li><a href="https://twitter.com/{{ site.twitter }}" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
        {% endif %}
        {% if site.facebook %}
        <li><a href="https://www.facebook.com/{{ site.facebook }}" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
        {% endif %}
        {% if site.instagram %}
        <li><a href="https://www.instagram.com/{{ site.instagram }}" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
        {% endif %}
        {% if site.dribbble %}
        <li><a href="https://dribbble.com/{{ site.dribbble }}" class="icon style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
        {% endif %}
        {% if site.github %}
        <li><a href="https://github.com/{{ site.github }}" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
        {% endif %}
        {% if site.500px %}
        <li><a href="https://500px.com/{{ site.500px }}" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
        {% endif %}
        {% if site.phone %}
        <li><a href="tel:{{ site.phone }}" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>
        {% endif %}
        <li><a href="mailto:{{ site.email }}" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="icon style2 fa-rss"><span class="label">RSS</span></a></li>
      </ul>
    </section>
    <ul class="copyright">
      <li><a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a></li>
      <li>Design based on <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</footer>
