<header id="header">
  <div class="inner">
    <!-- Logo -->
      <a href="{{ site.baseurl }}/" class="logo" style="font-size:0px; width:212px; height:60px; background:url({{ site.baseurl }}/images/scoda-horizontal-212x60-nontransparent.png) no-repeat">
        <span class="title">{{ page.title }}</span>
      </a>
    <!-- Nav -->
      <nav>
        <ul>
          <li><a href="#menu">Menu</a></li>
        </ul>
      </nav>
  </div>
</header>

<nav id="menu">
  <ul>
    {% for my_page in site.pages %}
      {% if my_page.language %}
        <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.language }}</a></li>
      {% elsif my_page.title %}
        <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
