.tiles article > .image img {
  height: 12em;
}

#main article p img {
  max-width: 100%;
}

article blockquote {
    padding-bottom: 0em;
    padding-top: 0em;
    font-size: 115%;
    font-style: normal;
    background-color: #f5f5f5;
}
