.hidden {
  display: none;
}

#header .logo {
  font-size: 0px;
  width: 212px;
  height: 60px;
  top: -15px;
  position: relative;
}

.tiles article > .image img {
  height: 12em;
}

#main article p img {
  max-width: 100%;
}

article blockquote {
    padding-bottom: 0em;
    padding-top: 0em;
    font-size: 115%;
    font-style: normal;
    background-color: #f5f5f5;
}

article h3 > a.button {
    margin-bottom: -1em;
}
